{% extends 'base.html.twig' %}

{% block title %}{{page_title}} - Donkey Series{% endblock %}

{% block body %}



    <div class="bg-image-home mt-5 pt-5"></div>
    <div class="m-5 p-5 div-citation">
        <h3 class="text-center">"Dans le cinéma, ce n'est pas la réalité qui compte, mais ce que l'imagination peut en faire."</h3>
        <h3 class="text-end">François Truffaut</h3>
    </div>
    <div>
    <div class="row m-5">
        <div class="col-12">
            <h2 class="text-center home-sub-title">Les derniers films ajoutés</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-around align-items-stretch flex-row flex-wrap align-self-stretch mb-5">
        {{ component('NewProgramComponent')}}
    </div>
    
    {% for i in 1..5 %}
    <div {{ stimulus_controller('faq') }}>
    <h2 {{ stimulus_action('faq', 'toggle', 'click') }}>Titre de la question {{ i }}</h2>
        <div {{ stimulus_target('faq', 'answer') }} style="display:none">
            lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod, nisl eget  rhoncus luctus, mauris lorem sodales urna, nec fermentum velit nisl id nisl. Nul
        </div>
    </div>
    {% endfor %}

{% endblock %}