<div {{ attributes }} class="m-4">
    <div class="row m-5">
        <div class="col-12 d-flex justify-content-center">
           <input type="search" data-model="query" placeholder="Rechercher un serie, un film, un episode..." >
        </div>
    </div>
   
    <div class="row d-flex justify-content-center align-items-stretch flex-row flex-wrap align-self-stretch my-5">
     {% if this.programs|length > 0 %}
        {% for program in this.programs %}
            <div class="col m-3 d-flex justify-content-center">
                <div class="card h-100 text-center card-index cards-lists">
                    <img src="{{program.poster}}" alt="Avatar" class="image">
                    <div class="middle card-body text-center" data-controller="summary">
                        <a href="{{path('app_program_show', {'program_slug': program.slug})}}" class="card-text text">
                            <h5 class="card-title title">{{ program.title }}</h5>
                            <p class="summary"  data-summary-target="summaryText" data-summary-text-outlet="text-summary">{{ program.summary }}</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="pt-3">Ah! No programs found matching "{{ query }}"</div>
    {% endif %}
    </div>
</div>

